page-home {
    .divRound{
        height: 65vh;
        //text-align: center;
        //vertical-align: 
        padding-top:20vh;
        color:white;
        font-size: 1.8em;
    }

    .buttonContainer{
        padding: 2vh 0;
    }
}
